body{

background:#ffe6f2;

font-family:Arial;

text-align:center;

padding-top:50px;

}

button{

padding:15px 30px;

font-size:20px;

background:#ff4d88;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

}

input,select{

padding:10px;

font-size:18px;

}
